<html>
  <head>
    <title>Orders</title>
  </head>
  <body>
    <h1>Orders</h1>

    <section>
      <h2>Shipped Orders</h2>

      <ul>
      <% @shipped_orders.each do |order| %>
        <li><%= link_to order.id, order_path(order) %></li>
      <% end %>
      </ul>
    </section>

    <section>
      <h2>Unshipped Orders</h2>

      <ul>
      <% @unshipped_orders.each do |order| %>
        <li><%= link_to order.id, order_path(order) %></li>
      <% end %>
      </ul>
    </section>
  </body>
</html>
